body{
    background-color: #cccccc;
    font-family:Verdana, Geneva, sans-serif;
    display: flex;
    justify-content: center;
}
div{
    width: 980px;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
}
header{
    padding: 0;
    margin: 0;
}
.head{
    width: 100%;
    height: 432px;
    padding: 0;
}
nav{
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0EC8C7;
}
nav p a{
    color:white;
    text-decoration:none;
}
aside{
    background-color: #EC3632;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    align-items: stretch;
}
aside a{
    text-align: center;
    color:white;
    text-decoration:none;
    padding-top: 10%;
}
section{
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    margin: 0;
    background-color: #fff;
}
section img{
    float: right;
}
footer{
    padding: 15px 0;
    background-color: #0EC8C7;
    text-align: center;
    font-size:11px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}